{
    "env": {
        "browser": true,
        "commonjs": true,
        "node": true,
        "es6": false,
        "mocha": true,
        "jquery": false
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "sourceType": "script",
        "ecmaVersion": 5
    },
    "rules": {
        "for-direction": "error",
        "array-callback-return": "error",
        "block-scoped-var": "error",
        "curly": "error",
        "default-case": "error",
        "dot-notation": "error",
        "eqeqeq": "error",
        "no-caller": "error",
        "no-case-declarations": "error",
        "no-div-regex": "error",
        "no-eval": "error",
        "no-implied-eval": "error",
        "no-lone-blocks": "error",
        "no-loop-func": "error",
        "no-multi-spaces": "error",
        "no-new": "error",
        "no-new-func": "error",
        "no-new-wrappers": "error",
        "no-return-assign": "error",
        "no-self-compare": "error",
        "no-sequences": "error",
        "no-throw-literal": "error",
        "no-unmodified-loop-condition": "error",
        "no-unused-expressions": "error",
        "no-useless-call": "error",
        "no-useless-concat": "error",
        "no-useless-return": "error",
        "no-void": "error",
        "no-with": "error",
        "radix": "error",
        "wrap-iife": ["error", "outside"],
        "no-catch-shadow": "error",
        "no-undef-init": "error",
        "no-use-before-define": "error",
        "no-new-require": "error",
        "no-buffer-constructor": "error",
        "no-path-concat": "error",
        "array-bracket-spacing": ["error", "never"],
        "brace-style": ["error", "stroustrup"],
        "camelcase": "error",
        "indent": ["error", 4],
        "max-statements": ["error", 100, {"ignoreTopLevelFunctions": true}],
        "new-cap": ["error", {"newIsCap": true, "capIsNew": false, "properties": true}],
        "new-parens": "error",
        "no-array-constructor": "error",
        "no-bitwise": "error",
        "no-mixed-spaces-and-tabs": "error",
        "no-new-object": "error",
        "no-plusplus": "error",
        "no-tabs": "error",
        "no-trailing-spaces": "error",
        "no-unneeded-ternary": "error",
        "no-whitespace-before-property": "error",
        "object-curly-newline": ["error", {"minProperties": 1}],
        "object-property-newline": "error",
        // "strict": "error",
        "no-console": "off",
        "quotes": ["error", "single"],
        "semi": ["error", "always"]
    },
    "globals": {
        "app": false,
        "helper": false,
        "define": false
    }
}