*.egg
*.egg-info
*.pyc
*.pyo
*.db
*.sqlite
*$py.class
*.pt.py
*.txt.py
*.swp
*.log
*.fs
*.fs.lock
*.fs.tmp
*.fs.index
*.doxyfile
*.mo
package-lock.json
.coverage
.project
.pydevproject
.DS_Store
.settings/
nbproject/
node_modules/
dist/
output/
coverage/
